@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Fuentes Utilizadas:
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol {
  list-style: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url(../img/6826.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /* --- Footer siempre abajo --- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d5150;
}

.logoNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
}
.logoNavBar img {
  height: 50px;
  border-radius: 10px;
  margin: 5px;
}

.itemNavBar {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 10px;
  padding: 4px;
  background-color: #f4ead2;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.itemNavBar:hover, .itemNavBar:focus, .itemNavBar:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.carritoCompras {
  margin-right: 20px;
  background-color: #f4ead2;
  padding: 10px;
  border-radius: 10px;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* ------ Sección del Footer ------ */

footer {
  width: 100%;
  padding-top: 10px;
  padding: 1%;
  background-color: #2d5150;
  font-family: "Roboto", sans-serif;
  /* --- Footer siempre abajo --- */
  margin-top: auto;
}

.contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  color: white;
}

.box-footer .text-footer {
  max-width: 300px;
  font-size: 15px;
}

.box-footer .logo-footer {
  width: 45px;
}

.box-footer h2 {
  font-size: 20px;
}

.box-footer a{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
}

.link-footer:hover {
  background-color: #f4ead2;
  border-radius: 10px;
  color:#2d5150;
}

.social-media {
  display: flex ;
  gap: 20px;
}

.contenedor-socialM {
  width: 32px; 
  height: 32px;
  border: transparent solid 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-socialM img {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.contenedor-socialM:hover {
  background-color: #243f3e;
  border: white solid 1px;
  border-radius: 10px;
  background:transparent;
}

.box-copyright {
  color: white;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hr-footer{
  color: white;
  width: 60%;
  margin: auto;
  display: flex;

}
/* ------ Finaliza Sección del Footer ------ */

/* ------ Inicio ------ */

.banner-principal {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.logo-principal {
  width: 100%;
  height: 99.5%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.295);
}

/* --- Nuestro Catálogo --- */

.cuerpo-carrito {
  background-color: rgba(255, 255, 255, 0.795);
  margin: 2%;
  box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -webkit-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -moz-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  border: black solid thin;
}

.busqueda-carrito {
  display: flex;
  justify-content: space-between;
}

.cuerpo-carrito h1 {
  display: flex;
  justify-content: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.cuerpo-carrito hr {
  width: 60%;
  margin: auto;
}

.buscar{
  margin: 1%;
}

.buscar input {
  width: 500px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}

.btn-carrito {
  padding: 3px;
  background-color: #f4ead2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: solid black;
  border-radius: 10px;
  color: black;
  margin: 1%;
}

.btn-carrito:hover {
  background-color: #2d5150;
  border-color: black;
}

.catalogoProductos {
  display: flex;
  align-items: center;
  place-content: center;
  flex-wrap: wrap;
  margin: 1%;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
}

.card-body {
  width: 300px;
}

.card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.card-tittle {
  font-size: 20px;
}

.colorBoton {
  color: black;
  background-color: #f4ead2;
  border: black solid thin;
}

.colorBoton:hover{
  background-color: #2d5150;
  color: aliceblue;
}

.offcanvas-title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: auto;
}

.carritoContenedor {
  display: flex;
  flex-direction: column;
}

.productoEnCarrito {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-left: 5px solid #419c49;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid #39e991;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

.btn-vaciar {
  margin: auto;
  text-align: center;
  padding: 2%;
  background-color: #f4ead2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: solid black thin;
  border-radius: 10px;
  color: black;
}

.btn-vaciar:hover{
  background-color: red;
  box-shadow: 0 0 20px rgb(255, 60, 60);
  color: white;
}

.btn-confirmar {
  margin: auto;
  text-align: center;
  padding: 2%;
  background-color: #f4ead2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: solid black thin;
  border-radius: 10px;
  color: black;
}

.btn-confirmar:hover{
  background-color: #419c49;
  box-shadow: 0 0 20px rgb(60, 255, 148);
  color: white;
}

.precio-producto {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: #222 solid thin;
  border-radius: 10px;
  padding: 2%;
  background-color: #f4ead2;
}

.eliminar-finalizar {
  display: flex;
}

/* --- Contacto --- */
.cuerpoContacto {
  background-color: white;
  border: black solid;
  border-radius: 10px;
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -webkit-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -moz-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  border: black solid thin;
}

.empresaNombre {
  margin-bottom: 5px;
}

.primerNombre {
  margin-bottom: 5px;
}

.correoTelefono {
  margin-bottom: 5px;
}

.direccion {
  margin-bottom: 5px;
}

.enviar {
  text-align: end;
  font-size: 20px;
}

.logo-instagram {
  display: flex;
  width:auto ;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.cuerpoComentarios {
  margin: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.contenedor-comentarios {
  display: flex;
  justify-content: center;
}

.cuerpoComentarios h2 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}

.cuerpoComentarios hr {
  margin-left: 7%;
  margin-right: 7%;
}

.comentariosReales {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 1%;
  padding: 1%;
  background-color: white ;
  box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -webkit-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  -moz-box-shadow: 4px 8px 10px 3px rgba(36,63,62,0.74);
  border: black solid thin;
  border-radius: 10px;
}

.comentariosReales:hover {
  box-shadow: 0 0 20px rgb(9, 75, 55);
}

.comentariosReales img {
  border: black solid;
}